.Rproj.user
.Rhistory
.RData
.Ruserdata

# data inputs
*.Rds
*.csv
*.xlsx
bgts_cgm/.csv

# Mac
.DS_Store

# outputs
*.html
*.css
*.js
*.woff

# folders
runTimeShinyPreRendered_data
bgts_shiny_files
udal_meds_upset/UpsetWalkthrough_cache

# images
*.png